<div id="<%= dom_id transaction_report %>">
  <p>
    <strong>Customer:</strong>
    <%= transaction_report.customer_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= transaction_report.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= transaction_report.product_id %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= transaction_report.payment_id %>
  </p>

</div>
